check_env() {
    [ -z ${1+x} ] && echo "MISSING" || echo "OK"
}

env_error() {
    # -e flag for echo is not necessary while launched by vscode
    echo "\033[1;31m"
    echo ""
    echo "One or more ENV variables are missing, please make sure"
    echo "they are defined in your rc file (.bashrc, .zshrc, ...):"
    echo ""
    echo "  - USER               your username             `check_env ${USER}`"
    echo "  - UID                your user id              `check_env ${UID}`"
    echo "  - GID                your group id             `check_env ${GID}`"
    {% for e in devcontainer_host_env %}
    echo "  - {{ e }}    `check_env $({{ e }})`"
    {% endfor %}
    echo ""
    echo "\033[0m"
}

if [ -z ${USER+x} ]{% for e in devcontainer_host_env %} || [ -z $({{ e }}+x) ]{% endfor %}; then
    env_error
    exit 1
fi


mkdir -p .devcontainer/bash/

# create a .bash_history file so it can be mounted as a volume
touch .devcontainer/bash/.bash_history

# create pypirc if missing (used by twine if trying to push to custom pypi)
touch ~/.pypirc

# create pip.conf if missing (used if we use a pip extra index url)
touch ~/.pip/pip.conf